In [81]:
import pandas as pd

In [84]:
df = pd.read_csv('just image15python.csv')

In [85]:
df

,Image name,X1,Y1,X2,Y2,object name,X-centre,Y-centre,x3,y3,x4,y4,area of bb
0,download (15).jpg.txt,196,55,255,114,cow,225.5,84.5,255,55,196,114,3481
1,download (15).jpg.txt,77,58,155,115,elephant,116.0,86.5,155,58,77,115,4446
2,download (15).jpg.txt,254,50,299,116,cow,276.5,83.0,299,50,254,116,2970
3,download (15).jpg.txt,7,74,71,122,cow,39.0,98.0,71,74,7,122,3072
4,download (15).jpg.txt,171,83,194,118,cow,182.5,100.5,194,83,171,118,805
5,download (15).jpg.txt,241,52,300,115,elephant,270.5,83.5,300,52,241,115,3717
6,download (15).jpg.txt,69,74,88,118,elephant,78.5,96.0,88,74,69,118,836
7,download (15).jpg.txt,79,53,162,114,elephant,120.5,83.5,162,53,79,114,5063
8,download (15).jpg.txt,159,96,174,117,elephant,166.5,106.5,174,96,159,117,315

In [86]:
# object_id_list = []
y_values = []
relationship = []

for _,row in df.iterrows():
#     object_id_list.append(row['object id'])
    y_values.append(row['Y-centre'])

for _,row in df.iterrows():
#     object_id_list.append(row['object id'])
    image_values.append(row['Image name'])

In [87]:
def remove_value(current_element_index, current_list):
    if current_element_index==0:
        new_list = current_list[1:]
        return new_list
    new_list = current_list[:current_element_index-1]+current_list[current_element_index:]
    return new_list

In [88]:
for index,current_element in enumerate(y_values):
    new_y_values = remove_value(index, y_values)
    for new_element in new_y_values:
        if current_element<new_element:
            relationship.append(f'object {y_values.index(current_element)} is at the top of object {y_values.index(new_element)}')
        if current_element>new_element:
            relationship.append(f'object {y_values.index(current_element)} is at the bottom of object {y_values.index(new_element)}')

In [92]:
relationship

['object 0 is at the top of object 1',
 'object 0 is at the bottom of object 2',
 'object 0 is at the top of object 3',
 'object 0 is at the top of object 4',
 'object 0 is at the bottom of object 5',
 'object 0 is at the top of object 6',
 'object 0 is at the bottom of object 5',
 'object 0 is at the top of object 8',
 'object 1 is at the bottom of object 2',
 'object 1 is at the top of object 3',
 'object 1 is at the top of object 4',
 'object 1 is at the bottom of object 5',
 'object 1 is at the top of object 6',
 'object 1 is at the bottom of object 5',
 'object 1 is at the top of object 8',
 'object 2 is at the top of object 0',
 'object 2 is at the top of object 3',
 'object 2 is at the top of object 4',
 'object 2 is at the top of object 5',
 'object 2 is at the top of object 6',
 'object 2 is at the top of object 5',
 'object 2 is at the top of object 8',
 'object 3 is at the bottom of object 0',
 'object 3 is at the bottom of object 1',
 'object 3 is at the top of object 4',
 'object 3 is at the bottom of object 5',
 'object 3 is at the bottom of object 6',
 'object 3 is at the bottom of object 5',
 'object 3 is at the top of object 8',
 'object 4 is at the bottom of object 0',
 'object 4 is at the bottom of object 1',
 'object 4 is at the bottom of object 2',
 'object 4 is at the bottom of object 5',
 'object 4 is at the bottom of object 6',
 'object 4 is at the bottom of object 5',
 'object 4 is at the top of object 8',
 'object 5 is at the top of object 0',
 'object 5 is at the top of object 1',
 'object 5 is at the bottom of object 2',
 'object 5 is at the top of object 3',
 'object 5 is at the top of object 6',
 'object 5 is at the top of object 8',
 'object 6 is at the bottom of object 0',
 'object 6 is at the bottom of object 1',
 'object 6 is at the bottom of object 2',
 'object 6 is at the top of object 3',
 'object 6 is at the top of object 4',
 'object 6 is at the bottom of object 5',
 'object 6 is at the top of object 8',
 'object 5 is at the top of object 0',
 'object 5 is at the top of object 1',
 'object 5 is at the bottom of object 2',
 'object 5 is at the top of object 3',
 'object 5 is at the top of object 4',
 'object 5 is at the top of object 8',
 'object 8 is at the bottom of object 0',
 'object 8 is at the bottom of object 1',
 'object 8 is at the bottom of object 2',
 'object 8 is at the bottom of object 3',
 'object 8 is at the bottom of object 4',
 'object 8 is at the bottom of object 5',
 'object 8 is at the bottom of object 6']

In [69]:
# object_id_list = []
area_values = []
area_relationship = []

for _,row in df.iterrows():
#     object_id_list.append(row['object id'])
    area_values.append(row['area of bb'])

for _,row in df.iterrows():
#     object_id_list.append(row['object id'])
    image_values.append(row['Image name'])

In [70]:
def remove_value(current_element_index, current_list):
    if current_element_index==0:
        new_list = current_list[1:]
        return new_list
    new_list = current_list[:current_element_index-1]+current_list[current_element_index:]
    return new_list

In [73]:
for index,current_element in enumerate(area_values):
    new_area_values = remove_value(index, area_values)
    for new_element in new_area_values:
        if current_element<new_element:
            area_relationship.append(f'object {area_values.index(current_element)} is smaller than object {area_values.index(new_element)}')
        if current_element>new_element:
            area_relationship.append(f'object {area_values.index(current_element)} is bigger than object {area_values.index(new_element)}')

In [74]:
area_relationship

['object 0 is smaller than object 1',
 'object 0 is smaller than object 2',
 'object 0 is smaller than object 3',
 'object 0 is smaller than object 4',
 'object 0 is smaller than object 5',
 'object 0 is smaller than object 6',
 'object 0 is smaller than object 7',
 'object 0 is smaller than object 8',
 'object 1 is smaller than object 2',
 'object 1 is smaller than object 3',
 'object 1 is smaller than object 4',
 'object 1 is smaller than object 5',
 'object 1 is smaller than object 6',
 'object 1 is smaller than object 7',
 'object 1 is smaller than object 8',
 'object 2 is smaller than object 0',
 'object 2 is smaller than object 3',
 'object 2 is smaller than object 4',
 'object 2 is smaller than object 5',
 'object 2 is smaller than object 6',
 'object 2 is smaller than object 7',
 'object 2 is smaller than object 8',
 'object 3 is smaller than object 0',
 'object 3 is smaller than object 1',
 'object 3 is smaller than object 4',
 'object 3 is smaller than object 5',
 'object 3 is smaller than object 6',
 'object 3 is smaller than object 7',
 'object 3 is smaller than object 8',
 'object 4 is smaller than object 0',
 'object 4 is smaller than object 1',
 'object 4 is smaller than object 2',
 'object 4 is smaller than object 5',
 'object 4 is smaller than object 6',
 'object 4 is smaller than object 7',
 'object 4 is smaller than object 8',
 'object 5 is smaller than object 0',
 'object 5 is smaller than object 1',
 'object 5 is smaller than object 2',
 'object 5 is smaller than object 3',
 'object 5 is smaller than object 6',
 'object 5 is smaller than object 7',
 'object 5 is smaller than object 8',
 'object 6 is smaller than object 0',
 'object 6 is smaller than object 1',
 'object 6 is smaller than object 2',
 'object 6 is smaller than object 3',
 'object 6 is smaller than object 4',
 'object 6 is smaller than object 7',
 'object 6 is smaller than object 8',
 'object 7 is smaller than object 0',
 'object 7 is smaller than object 1',
 'object 7 is smaller than object 2',
 'object 7 is smaller than object 3',
 'object 7 is smaller than object 4',
 'object 7 is smaller than object 5',
 'object 7 is smaller than object 8',
 'object 8 is smaller than object 0',
 'object 8 is smaller than object 1',
 'object 8 is smaller than object 2',
 'object 8 is smaller than object 3',
 'object 8 is smaller than object 4',
 'object 8 is smaller than object 5',
 'object 8 is smaller than object 6',
 'object 0 is smaller than object 1',
 'object 0 is bigger than object 2',
 'object 0 is bigger than object 3',
 'object 0 is bigger than object 4',
 'object 0 is smaller than object 5',
 'object 0 is bigger than object 6',
 'object 0 is smaller than object 7',
 'object 0 is bigger than object 8',
 'object 1 is bigger than object 2',
 'object 1 is bigger than object 3',
 'object 1 is bigger than object 4',
 'object 1 is bigger than object 5',
 'object 1 is bigger than object 6',
 'object 1 is smaller than object 7',
 'object 1 is bigger than object 8',
 'object 2 is smaller than object 0',
 'object 2 is smaller than object 3',
 'object 2 is bigger than object 4',
 'object 2 is smaller than object 5',
 'object 2 is bigger than object 6',
 'object 2 is smaller than object 7',
 'object 2 is bigger than object 8',
 'object 3 is smaller than object 0',
 'object 3 is smaller than object 1',
 'object 3 is bigger than object 4',
 'object 3 is smaller than object 5',
 'object 3 is bigger than object 6',
 'object 3 is smaller than object 7',
 'object 3 is bigger than object 8',
 'object 4 is smaller than object 0',
 'object 4 is smaller than object 1',
 'object 4 is smaller than object 2',
 'object 4 is smaller than object 5',
 'object 4 is smaller than object 6',
 'object 4 is smaller than object 7',
 'object 4 is bigger than object 8',
 'object 5 is bigger than object 0',
 'object 5 is smaller than object 1',
 'object 5 is bigger than object 2',
 'object 5 is bigger than object 3',
 'object 5 is bigger than object 6',
 'object 5 is smaller than object 7',
 'object 5 is bigger than object 8',
 'object 6 is smaller than object 0',
 'object 6 is smaller than object 1',
 'object 6 is smaller than object 2',
 'object 6 is smaller than object 3',
 'object 6 is bigger than object 4',
 'object 6 is smaller than object 7',
 'object 6 is bigger than object 8',
 'object 7 is bigger than object 0',
 'object 7 is bigger than object 1',
 'object 7 is bigger than object 2',
 'object 7 is bigger than object 3',
 'object 7 is bigger than object 4',
 'object 7 is bigger than object 5',
 'object 7 is bigger than object 8',
 'object 8 is smaller than object 0',
 'object 8 is smaller than object 1',
 'object 8 is smaller than object 2',
 'object 8 is smaller than object 3',
 'object 8 is smaller than object 4',
 'object 8 is smaller than object 5',
 'object 8 is smaller than object 6']

In [93]:
# object_id_list = []
x_values = []
relations = []
image_values=[]
for _,row in df.iterrows():
#     object_id_list.append(row['object id'])
    x_values.append(row['X-centre'])

for _,row in df.iterrows():
#     object_id_list.append(row['object id'])
    image_values.append(row['Image name'])

In [38]:
def remove_value(current_element_index, current_list):
    if current_element_index==0:
        new_list = current_list[1:]
        return new_list
    new_list = current_list[:current_element_index-1]+current_list[current_element_index:]
    return new_list

In [39]:
for index,current_element in enumerate(x_values):
    new_x_values = remove_value(index, x_values)
    for new_element in new_x_values:
        if current_element<new_element:
            relations.append(f'object {x_values.index(current_element)} is to the left of object {x_values.index(new_element)}')
        if current_element>new_element:
            relations.append(f'object {x_values.index(current_element)} is to the right of object {x_values.index(new_element)}')

In [14]:
relations

['object 0 is to the right of object 1',
 'object 0 is to the left of object 2',
 'object 0 is to the right of object 3',
 'object 0 is to the right of object 4',
 'object 0 is to the left of object 5',
 'object 0 is to the right of object 6',
 'object 0 is to the right of object 7',
 'object 0 is to the right of object 8',
 'object 0 is to the right of object 9',
 'object 1 is to the left of object 2',
 'object 1 is to the right of object 3',
 'object 1 is to the left of object 4',
 'object 1 is to the left of object 5',
 'object 1 is to the right of object 6',
 'object 1 is to the left of object 7',
 'object 1 is to the left of object 8',
 'object 1 is to the right of object 9',
 'object 2 is to the right of object 0',
 'object 2 is to the right of object 3',
 'object 2 is to the right of object 4',
 'object 2 is to the right of object 5',
 'object 2 is to the right of object 6',
 'object 2 is to the right of object 7',
 'object 2 is to the right of object 8',
 'object 2 is to the right of object 9',
 'object 3 is to the left of object 0',
 'object 3 is to the left of object 1',
 'object 3 is to the left of object 4',
 'object 3 is to the left of object 5',
 'object 3 is to the left of object 6',
 'object 3 is to the left of object 7',
 'object 3 is to the left of object 8',
 'object 3 is to the left of object 9',
 'object 4 is to the left of object 0',
 'object 4 is to the right of object 1',
 'object 4 is to the left of object 2',
 'object 4 is to the left of object 5',
 'object 4 is to the right of object 6',
 'object 4 is to the right of object 7',
 'object 4 is to the right of object 8',
 'object 4 is to the right of object 9',
 'object 5 is to the right of object 0',
 'object 5 is to the right of object 1',
 'object 5 is to the left of object 2',
 'object 5 is to the right of object 3',
 'object 5 is to the right of object 6',
 'object 5 is to the right of object 7',
 'object 5 is to the right of object 8',
 'object 5 is to the right of object 9',
 'object 6 is to the left of object 0',
 'object 6 is to the left of object 1',
 'object 6 is to the left of object 2',
 'object 6 is to the right of object 3',
 'object 6 is to the left of object 4',
 'object 6 is to the left of object 7',
 'object 6 is to the left of object 8',
 'object 6 is to the right of object 9',
 'object 7 is to the left of object 0',
 'object 7 is to the right of object 1',
 'object 7 is to the left of object 2',
 'object 7 is to the right of object 3',
 'object 7 is to the left of object 4',
 'object 7 is to the left of object 5',
 'object 7 is to the left of object 8',
 'object 7 is to the right of object 9',
 'object 8 is to the left of object 0',
 'object 8 is to the right of object 1',
 'object 8 is to the left of object 2',
 'object 8 is to the right of object 3',
 'object 8 is to the left of object 4',
 'object 8 is to the left of object 5',
 'object 8 is to the right of object 6',
 'object 8 is to the right of object 9',
 'object 9 is to the left of object 0',
 'object 9 is to the left of object 1',
 'object 9 is to the left of object 2',
 'object 9 is to the right of object 3',
 'object 9 is to the left of object 4',
 'object 9 is to the left of object 5',
 'object 9 is to the left of object 6',
 'object 9 is to the left of object 7']